{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="jumbotron">
        <h1 class="display-4">Full-Stack</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
            to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<div class="container pb-4">
    <hr>
</div>

<div class="one" id="course">
    <h1 id="h1">Course Structure</h1>
</div>


<div class="container my-5 p-4 " id="container_out" 
    style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align: center;">
    <h1 style="width: auto; display: inline-block;">Level 0</h1>
    <div class="container">
        <div class="row">
            <!-- HTML -->
            <div class="col-xl-3 col-md-6 mb-4" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#html">
                <div class="card border-0 shadow">
                    <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">HTML</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <div class="modal" id="html" >
                <div class="modal-dialog " >
                  <div class="modal-content" >
              
                    <!-- Modal Header -->
                    <div class="modal-header header" >
                      <h4 class="modal-title">HTML</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                      Modal body..
                    </div>
                    
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger close_button" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>

            <!-- CSS -->
            <div class="col-xl-3 col-md-6 mb-4" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#css">
                <div class="card border-0 shadow">
                    <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">CSS</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <div class="modal" id="css" >
                <div class="modal-dialog " >
                  <div class="modal-content" >
              
                    <!-- Modal Header -->
                    <div class="modal-header header" >
                      <h4 class="modal-title">CSS</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                      Modal body..
                    </div>
                    
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger close_button" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>


            <!-- BootStrap -->
            <div class="col-xl-3 col-md-6 mb-4" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bootstrap">
                <div class="card border-0 shadow">
                    <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Bootstrap</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>

            <div class="modal" id="bootstrap" >
                <div class="modal-dialog " >
                  <div class="modal-content" >
              
                    <!-- Modal Header -->
                    <div class="modal-header header" >
                      <h4 class="modal-title">Bootstrap</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                      Modal body..
                    </div>
                    
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger close_button" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>


            <!-- JS -->
            <div class="col-xl-3 col-md-6 mb-4" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#js">
                <div class="card border-0 shadow">
                    <img src="https://source.unsplash.com/7u5mwbu7qLg/500x350" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Java Script</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>

            <div class="modal" id="js" >
                <div class="modal-dialog " >
                  <div class="modal-content" >
              
                    <!-- Modal Header -->
                    <div class="modal-header header" >
                      <h4 class="modal-title">Java Script</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                      Modal body..
                    </div>
                    
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger close_button" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>


<div style="display: flex; justify-content: center; align-items: center; ">
    <i class="fa-3x fa-solid fa-arrow-down"></i>
</div>


<div class="container my-5 p-4 " id="container_out"
    style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align: center;">
    <h1 style="width: auto; display: inline-block;">Level 1</h1>
    <div class="container">
        <div class="row">
            <!-- MySQL -->
            <div class="col-xl-3 col-md-6 mb-4" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MySQL">
                <div class="card border-0 shadow">
                    <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">MySQL</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <div class="modal" id="MySQL" >
                <div class="modal-dialog " >
                  <div class="modal-content" >
              
                    <!-- Modal Header -->
                    <div class="modal-header header" >
                      <h4 class="modal-title">MySQL</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                      Modal body..
                    </div>
                    
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger close_button" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>

            <!-- MongoDB -->
            <div class="col-xl-3 col-md-6 mb-4" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#MongoDB">
                <div class="card border-0 shadow">
                    <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">MongoDB</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <div class="modal" id="MongoDB" >
                <div class="modal-dialog" >
                  <div class="modal-content" >
              
                    <!-- Modal Header -->
                    <div class="modal-header header" >
                      <h4 class="modal-title">Mongo DB</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                      Modal body..
                    </div>
                    
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger close_button" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>


            <!-- ReactJS -->
            <div class="col-xl-3 col-md-6 mb-4" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ReactJS">
                <div class="card border-0 shadow">
                    <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">React JS</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>

            <div class="modal" id="ReactJS" >
                <div class="modal-dialog " >
                  <div class="modal-content" >
              
                    <!-- Modal Header -->
                    <div class="modal-header header" >
                      <h4 class="modal-title">React JS</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                      Modal body..
                    </div>
                    
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger close_button" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>


            <!-- Basic_DSA -->
            <div class="col-xl-3 col-md-6 mb-4" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Basic_DSA">
                <div class="card border-0 shadow">
                    <img src="https://source.unsplash.com/7u5mwbu7qLg/500x350" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Basic DSA</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>

            <div class="modal" id="Basic_DSA" >
                <div class="modal-dialog " >
                  <div class="modal-content" >
              
                    <!-- Modal Header -->
                    <div class="modal-header header" >
                      <h4 class="modal-title">Basic DSA</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <br>
                      Modal body..
                    </div>
                    
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger close_button" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; ">
    <i class="fa-3x fa-solid fa-arrow-down"></i>
</div>


<div class="container my-5 p-4 " id="container_out"
    style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align: center;">
    <h1 style="width: auto; display: inline-block;">Level 2</h1><br>
    <h4 style="width: auto; display: inline-block;">Choose any</h4>
    <div class="container">
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-xl-6 col-md-6 mb-4" onclick="window.location.href = '{% url 'django' %}'">
                <div class="card border-0 shadow">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Django</h5>
                        <div class="card-text text-black-50">Python</div>
                    </div>
                </div>
            </div>            
            <!-- Team Member 2 -->
            <div class="col-xl-6 col-md-6 mb-4" onclick="window.location.href = '{% url 'mern' %}'">
                <div class="card border-0 shadow">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">MERN</h5>
                        <div class="card-text text-black-50">Java Script</div>
                    </div>
                </div>
            </div> 


        </div>
    </div>
</div>
{% endblock %}